// Specific CSS for your home-page

body {
  overflow-x: hidden;
  // background-color: #fff;
}

section.sorry {
  margin-bottom: 2rem;
}

section.search-result {
  height: 100vh;
  // background-color: $bg-color;
  margin-bottom: 2rem;

  &:nth-child(even) {
    // background-color: $bg-color;
    // height: 60vh;
  }
}

section.hot-stuff {
  height: 100vh;
  margin-bottom: 2rem;

  // &:nth-child(even) {
  //   background-color: $bg-color;
  //   height: 60vh;
  // }
}

section.categories {
  height: 100vh;
  // background-color: $bg-color;
  margin-bottom: 2rem;

  // &:nth-child(even) {
  //   background-color: $bg-color;
  //   height: 60vh;
  // }
}

footer {
  // background-color: $ight-greenl;
}

h2 {
color: $main-color;
font-size: 4rem;
margin: 0 0 2rem 2rem;
padding-top: 2rem;
padding-left: $spacer * 2;
}
