// Specific CSS for your home-page

body {
  overflow-x: hidden;
  background-color: $light-green;
}

section{
  height: 100vh;
  background-color: $light-green;
  margin-bottom: 2rem;

  &:nth-child(even) {
    background-color: #fff;
  }
}

footer {
  background-color: $light-green;
}

h2 {
  color: $green;
  font-size: 4rem;
  margin: 0 0 2rem 2rem;
  padding-top: 2rem;
}

