<div class="booking-form">
  <h4>Book your stuff</h4>

  <%= simple_form_for [ @item, @booking ] do |f| %>
    <%= f.input :starting_date, as: :string, required: true, input_html: {class: "datepicker"} %>
    <%= f.input :end_date, as: :string, required: true, input_html: {class: "datepicker"} %>
    <%= f.button :submit, "Book now", class: "booking-form-btn" %>
  <% end %>
</div>

