<div class="wrapper-lockdown">
  <div class="banner">
    <div class="container-lockdown">
      <h1>Why buy when you can share?</h1>
      <%= form_tag root_path, class:"banner-search-form", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find your stuff"
      %>
      <%= submit_tag "Search" %>
    <% end %>
    </div>
  </div>
</div>
