<div class="wrapper-lockdown">
  <div class="banner">
    <div class="container-lockdown">
      <h1>Why buy when you can share?</h1>
      <%= link_to "Check out stuff!", items_path, class:"banner-btn" %>
    </div>
  </div>
</div>
