<div class="card">
  <div class="card-img">
    <img src="" alt="">
  </div>

  <div class="card-info">
    <h4>Sleek Copper Hat</h4>
    <p>10405 Berlin</p>
    <div class="card-booking">
      <p>4.9 Stars</p>
      <p>Available</p>
      <a href="#" class="card-btn">Mine!</a>
    </div>
  </div>
</div>
