
<div class="card-item">
<!-- hero image -->

  <div class="img">
    <img src="https://source.unsplash.com/300x150/?office,desk">
  </div>

  <div class="row">
    <div class="d-flex align-items-center">
<!--     <div class="flex-container"> -->
      <div class="img"><img src="https://source.unsplash.com/200x100/?office,desk"></div>
      <div class="img"><img src="https://source.unsplash.com/200x100/?office,chair"></div>
      <div class="img"><img src="https://source.unsplash.com/200x100/?office,lamp"></div>
      <div class="img"><img src="https://source.unsplash.com/200x100/?office,lamp"></div>
    </div>
  </div>

  <div>
    <div class="avatar">
<!--                 <p>email address goes here</p> -->
  </div>

    <div class="container py-3">
      <div class="row">
         <div class="col-md-8">

          <div>
            <h4><%= @item.title %></h4>
              <h6><%= @item.description %></h6>
              <p>€<%= @item.price %> per day</p>
            </div>
          </div>

        <div class="col-md-4">
          <div>
            <h6>How long do you need it?</h6>
            <p>We calculate the price based on the duration</p>
            <a href="#" class="button">check availability</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


