.banner {
  background-color: $bg-color;
  background: url('https://res.cloudinary.com/dwbun34na/image/upload/v1612004586/lockdown/banner-img_ajy1ty.svg') $bg-color;
  // background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 100vw;
  height: 580px;
  padding: $spacer * 2;

  h1 {
    width: 500px;
    color: $main-color;
    font-size: 4.5rem;
    line-height: 1;
    margin: 5rem 0 3rem 2rem;
  }
}

a.banner-btn {
  text-decoration: none;
}

.banner-btn {
  background-color: #fff;
  box-shadow: 4px 4px 8px rgba(76, 70, 233, 0.2);
  color: $main-color;
  padding: $spacer * 2 $spacer * 8;
  border-radius: $spacer * 3;
  transition: all 0.2s;
  margin: 2rem;

  &:hover {
    box-shadow: inset 4px 4px 8px rgba(76, 70, 233, 0.2);
  }
}

.banner-search-form {
  // background-color: #fff;
  // box-shadow: 4px 4px 8px rgba(76, 70, 233, 0.2);
  color: $main-color;
  padding: $spacer * 2 $spacer * 1;
  border-radius: $spacer * 3;
  transition: all 0.2s;
  margin: 2rem;
  // width: 250px;

  input[type="text"] {
    border: none;
    border-radius: $spacer * 3;
    // border-bottom: 1px solid $main-color;
    box-shadow: 4px 4px 8px rgba(76, 70, 233, 0.2);
    background-color: #fff;
    color: $main-color;
    padding: $spacer * 2 $spacer * 4;
    width: 480px;
    height: 60px;
  }

  input[type="submit"] {
    border: none;
    background-color: $main-color;
    box-shadow: 4px 4px 8px rgba(76, 70, 233, 0.2);
    color: #fff;
    padding: $spacer * 2 $spacer * 8;
    border-radius: $spacer * 3;
    transition: all 0.2s;
    margin-top: 1rem;

    &:hover {
      box-shadow: inset 4px 4px 8px rgba(76, 70, 233, 0.2);
    }
  }

  ::placeholder {
      color: $main-color;
    }
}

a.browse-stuff {
  border-bottom: $main-color;
  padding-bottom: 3px;
  color: $main-color;
}









