.banner {
  background-color: $green;
  width: 100vw;
  height: 400px;
  padding: $spacer * 2;

  h1 {
    width: 500px;
    color: #fff;
    font-size: 4.5rem;
    line-height: 1;
    margin: 3.5rem 0 2rem 2rem;
  }
}

a.banner-btn {
  text-decoration: none;
}

.banner-btn {
  color: #fff;
  border: 1px solid #fff;
  padding: $spacer * 2 $spacer * 6;
  border-radius: $spacer * 3;
  background-color: transparent;
  transition: all 0.2s;
  margin-left: 2rem;

  &:hover {
    color: $green;
    background-color: #fff;
  }
}

