.cards {
  width: 70%;
  float: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $spacer * 2;
  margin-right: 3.5rem;
}

.card-item {
  width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: 4px 4px 8px rgba(76, 70, 233, 0.2);
  padding: 1rem;
  border-radius: $spacer;
  margin: 0 1rem 1rem 0;

  img {
    width: 100%;
    margin-bottom: $spacer;
    border-radius: $spacer;
  }

  h4, h6 {
    color: $text-color;
  }

  h6 {
    font-size: 0.9rem;
    margin-bottom: $spacer * 4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  p {
    color: $text-info-color;
    font-size: 0.85rem;
    margin: 0;
  }

  button {
    border: none;
    border-radius: $spacer;
    background-color: #fff;
    box-shadow: 4px 4px 8px rgba(76, 70, 233, 0.2);
    padding: $spacer $spacer * 3;
    transition: all 0.3s;

    a {
      color: $main-color;
      text-decoration: none;
    }
  }

  button:hover {
    // background-color: $light-green;
    box-shadow: inset 4px 4px 8px rgba(76, 70, 233, 0.2);
  }

  &-booking {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}


.card-categories {

}
