.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $light-green;
  padding: $spacer * 2;

  p {
    padding: 0;
    margin: 0;
  }

  &-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
  }
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

